@import './assets/styles/_common.scss';

.App {
   .App-header {
      background-color: $lightGray;
      padding: 20px;
      color: $blackColor;
      text-align: left;
      border: 1px solid $gray;
   }

   .App-intro {
      font-size: large;
   }
}